<div class="contents row" >
  <% @diaries.each do |diary| %>
    <p>タイトル:<%= diary.title %></p>
    <p>著者名  :<%= diary.author %></p>
    <p>お薦め度:<%= diary.reco_rate %></p>
    <p>読みたい:</p>
    <p>買いたい:</p>
    <p>感想    :<%= simple_format(diary.impression) %></p>
    <% if diary.genre_id.blank? %>
      <p>ジャンル:</p>
    <% else %>
      <p>ジャンル:<%= diary.genre.genre_name %></p>
    <% end %>
    <p>投稿者  :<%= diary.user.nickname %></p>
    <p>詳細　  :</p>
    <% if user_signed_in? && current_user.id == diary.user_id %>
    　<%= link_to '編集', "/diaries/#{diary.id}/edit", method: :get %>
      <%= link_to '削除', "/diaries/#{diary.id}", method: :delete %>
    <% end %>
  <% end %>
  <%= paginate(@diaries) %> 
</div>